---
import { getCollection, type CollectionEntry } from "astro:content";
import { parseDate } from '@utils/utils';
import StickyNav from '@components/website/stickynav.astro';
import Base from '@layouts/base.astro';

/* Generate URL path for post */
export async function getStaticPaths() {
    const posts = await getCollection("posts");

	return posts.map((post) => ({
		params: { post: post.slug },
		props: post
	}));
}

type Props = CollectionEntry<"posts">;
const post = Astro.props;
const { Content, headings } = await post.render();

/* Format Date */
const date = parseDate(post.data.date);

/* Get adjacent links in a project */
const posts = await getCollection("posts");
const thisproject = post.data.project;
const nextPost = post.data.part + 1;
const prevPost = post.data.part - 1;

let adjacentLinks = [
	`${thisproject.toLowerCase().replaceAll(' ', '-')}`, 
	`${thisproject.toLowerCase().replaceAll(' ', '-')}`
];
let adjacentSubtitles = [`${thisproject}`, `${thisproject}`];

function getLinks(post: any) {
	if (post.data.project == thisproject && post.data.part == prevPost) {
		adjacentLinks[0] = post.slug;
		adjacentSubtitles[0] = post.data.subtitle;
	}

	if (post.data.project == thisproject && post.data.part == nextPost) {
		adjacentLinks[1] = post.slug;
		adjacentSubtitles[1] = post.data.subtitle;
	}
}
posts.some(getLinks);
---
<Base>
	<div class="flex w-full justify-center text-xl my-10 font-[300]">
		<article class="w-full max-w-[800px] px-10 overflow-x-hidden">
			<!-- Breadcrumbs -->
			<div class="breadcrumbs flex items-center text-base text-gray-400">
				<a href="/" class="hover:text-white">Home</a>
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="mx-2 fill-gray-400">
					<path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z" />
				</svg>
				<a href={`/posts/${post.data.project.toLowerCase().replaceAll(' ', '-')}`} class="hover:text-white">
					{post.data.project}
				</a>
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="mx-2 fill-gray-400">
					<path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z" />
				</svg>
				{post.data.subtitle}
			</div>

			<!-- Post Card -->
			<div class="mt-8 mb-10">
				<h1 class="text-4xl font-bold text-neutral-200">{post.data.subtitle}</h1>
				<div class="text-neutral-400 my-2">{post.data.project}</div>
				<div class="bg-[#19191b] rounded-lg my-3">
					<img class="mx-auto select-none w-full max-w-[500px] h-auto" src={post.data.image} alt="Post Image"/>
				</div>

				<div class="flex gap-x-5 text-neutral-400 text-sm max-sm:flex-col">
					<div class="flex items-center gap-1">
						<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" class="fill-current"><path d="M19 4h-2V2h-2v2H9V2H7v2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2h14c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2zm.002 16H5V8h14l.002 12z"></path><path d="m11 17.414 5.707-5.707-1.414-1.414L11 14.586l-2.293-2.293-1.414 1.414z"></path></svg>
						<span>{date}</span>
					</div>
					<div class="flex items-center gap-1">
						<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" class="fill-current"><path d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm0 18c-4.411 0-8-3.589-8-8s3.589-8 8-8 8 3.589 8 8-3.589 8-8 8z"></path><path d="M13 7h-2v5.414l3.293 3.293 1.414-1.414L13 11.586z"></path></svg>
						<span>Read Time: {post.data.read_time} min</span>
					</div>
					<div class="flex items-center text-sm">
						<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" class="mr-1 fill-current"><path d="M11.707 2.293A.997.997 0 0 0 11 2H6a.997.997 0 0 0-.707.293l-3 3A.996.996 0 0 0 2 6v5c0 .266.105.52.293.707l10 10a.997.997 0 0 0 1.414 0l8-8a.999.999 0 0 0 0-1.414l-10-10zM13 19.586l-9-9V6.414L6.414 4h4.172l9 9L13 19.586z"></path><circle cx="8.353" cy="8.353" r="1.647"></circle></svg>
						{
							post.data.tags.sort().map((tag: any) => (
								<a href={`/tags/${tag.toLowerCase().replaceAll(' ', '-')}`} class="mr-1 whitespace-nowrap rounded-md after:content-[','] last:after:content-none">{tag}</a>
							))
						}
					</div>
				</div>
			</div>

			<!-- Content -->
			<div class="content">
				<Content />
			</div>

			<!-- Prev and Next Post -->
			<div class="flex flex-row justify-between max-md:flex-col max-md:text-center max-md:text-md font-semibold text-lg mt-6">
				<a class="my-3" href={`/posts/${adjacentLinks[0]}`}>
					<button class="btn btn-outline btn-success">← {adjacentSubtitles[0]}</button>
				</a>
				<a class="my-3" href={`/posts/${adjacentLinks[1]}`}>
					<button class="btn btn-outline btn-success">{adjacentSubtitles[1]} →</button>
				</a>
			</div>
		</article>

		<StickyNav headings={headings} />
	</div>
</Base>

<style is:global>
:root
{
    --block-bg-color: #222222;
    --emerald-color: #00d492;
}

/* CSS for text content */
.content 
{
    font-size: 18px;

    h2
    {
        color: var(--emerald-color);
        font-family: "Kode Mono", monospace;
        font-size: 1.4rem;
        font-weight: bold;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    h3
    {
        font-size: 1.3rem;
        font-weight: bold;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    h4
    {
        font-weight: bold;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    blockquote
    {
        border-radius: 0.5rem;
        background-color: var(--block-bg-color);
        padding: 1rem 2rem;
        margin-bottom: 1rem;
        max-width: 100%;
        line-height: 2;

        strong
        {
            font-weight: 600;
        }
    }

    code
    {
        color: #6eb8ff;
    }

    .caption
    {
        margin-top: 1rem;
        font-size: 1rem;  
    }

    img
    {
        margin: 2rem auto;
    }

    p
    {
        line-height: 2;
        word-spacing: 0.05rem;
    }

    ol
    {
        border-radius: 0.5rem;
        background-color: var(--block-bg-color);
        padding: 1.5rem 2rem;
        margin-bottom: 1rem;
        max-width: 100%;
        line-height: 2;

        li
        {
            list-style-type: decimal;
            line-height: 2.5rem;
            margin-left: 1.5rem;
        }   
    }

    ul
    {
        border-radius: 0.5rem;
        background-color: var(--block-bg-color);
        padding: 1.5rem 2rem;
        margin-bottom: 1rem;
        max-width: 100%;
        line-height: 2;

        li
        {
            list-style-type: disc;
            line-height: 2.5rem;
            margin-left: 1.5rem;
        }
    }
}

/* Code Snippet (Not Tabbed) */
.astro-code:not(:where(.tabs *))
{
    background-color: var(--block-bg-color) !important;
    border-radius: 0.5rem !important;
    border: 3px solid var(--emerald-color);
    font-size: 16px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;

    code
    {
	    counter-reset: code-line;

        .line 
        {
            counter-increment: code-line;
            &::before {
                content: counter(code-line);
                color: #414b54;
                display: inline-block;
                width: 1.5rem;
                margin-right: 0.5rem;
            }
        }     
    }
}

/* Tabbed Content (Code) */
.tabs
{
    margin: 1rem 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: var(--emerald-color);

    .astro-code
    {
        padding: 0rem;
        background-color: var(--block-bg-color) !important;
    }

    .tab
    {
        background-color: #353535;
        border-radius: 0.25rem 0.25rem 0 0 !important;
        margin-right: 0.1rem;
    }

    .tab-content
    {
        background-color: var(--block-bg-color) !important;
        border-radius: 0 0 0.5rem 0.5rem !important;
        border: 0;
    }

    pre code
    {
	    counter-reset: code-line;

        .line 
        {
            counter-increment: code-line;
            &::before {
                content: counter(code-line);
                color: #414b54;
                display: inline-block;
                width: 1.5rem;
                margin-right: 0.5rem;
            }
        }     
    }
}

/* Tables */
table {
	min-width: 100%;
	margin: auto;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	background-color: var(--block-bg-color);
}

thead tr {
	background-color: var(--emerald-color);
	color: white;
	text-align: center;
}

th, td {
	text-align: center;
	padding: 10px;
}

tbody tr {
	border-bottom: 1px solid #dddddd;
}

tbody tr:nth-child(even) {
	background-color: var(--block-bg-color);
}

tbody tr:last-of-type {
	border-bottom: 2px solid var(--emerald-color);
}

@media only screen and (max-width: 600px) {
	pre {
		width: 80vw;
		font-size: 12px !important;
	}
	.tabs .astro-code {
		width: 60vw !important;
		font-size: 12px !important;
	}
	code:not(pre code) {
		font-size: 14px;
	}
	.katex {
		font-size: 16px;
	}
	table {
		margin: 0;
		padding: 0;
		font-size: 1rem;
	}
}
</style>