---
import { getCollection, type CollectionEntry } from 'astro:content'
import Base from '@layouts/base.astro'
import Postcard from '@components/website/postcard.astro'

// Dynamic URL Paths
export async function getStaticPaths() {
	const posts = await getCollection('posts')

	return posts.map((post) => ({
		params: { projects: post.data.project.toLowerCase().replaceAll(' ', '-') },
		props: post
	}))
}

type Props = CollectionEntry<'posts'>
const post = Astro.props

const project = Astro.params.projects
const posts = await getCollection(
	'posts',
	({ data }) => data.project.toLowerCase().replaceAll(' ', '-') === project
)
posts.sort((a, b) => b.data.part - a.data.part)

// Subprojects
let subprojectsSet = new Set()
for (const post of posts)
{
    subprojectsSet.add(post.data.subproject)
}
const subprojects = [...subprojectsSet]
---

<Base>
	<section class="bg-neutral-800 px-8 py-10">
		<div class="mx-auto max-w-[800px] max-md:max-w-[400px]">
			<!-- Breadcrumbs -->
			<div class="breadcrumbs flex items-center text-base text-gray-400">
				<a href="/" class="hover:text-white">Home</a>
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="mx-2 fill-gray-400"><path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z" /></svg>
				<a href={`/posts/${post.data.project.toLowerCase().replaceAll(' ', '-')}`} class="hover:text-white">{post.data.project}</a>
			</div>

            <!-- Title -->
            <div class="my-10">
                <h3 class="ml-0.5 my-2 text-neutral-400 ">{post.data.category} Project</h3>
                <h2 class="text-5xl font-kode text-emerald-400">{post.data.project}</h2>
            </div>

            <!-- Subprojects -->
            <div class="flex justify-between">
            {
                subprojects.map((subproject, index) => {
                    if (subprojects.length > 1)
                    {                        
                        return (
                            <button id=`${subproject?.replaceAll(" ", "-").toLowerCase()}` class="hover:cursor-pointer" onclick="showProject(this)">
                                <div class="flex group items-stretch border-1 border-neutral-600 bg-[#222222] rounded-lg overflow-hidden my-5 shadow-lg/40 hover:bg-[#2b2b2b] duration-300">
                                    <div class="hidden sm:flex flex-shrink-0 bg-[#2b2b2b] px-8 border-l-1 border-emerald-400">
                                        <div class="flex items-center h-full">
                                        {
                                            <p class="text-neutral-400 text-4xl w-[50px] text-center group-hover:text-emerald-400 duration-300">{ index + 1 }</p>
                                        }
                                        </div>
                                    </div>
                                    <div class="text-neutral-200 font-normal text-xl p-5 py-6 inline">
                                        <div class="text-xl text-left">
                                            <div class="text-neutral-400 text-sm">Project</div>
                                            <span>{ subproject }</span>
                                        </div>
                                    </div>
                                </div>
                            </button>
                        )
                    }
                })
            }
            </div>

            <!-- Posts -->
			{
				posts.map((allPosts) => 
                {
                    if (allPosts.data.project == post.data.project)
                    {
                        if (subprojects.length == 1)
                        {
                            return (
                                <div class=`posts ${allPosts.data.subproject?.replaceAll(" ", "-").toLowerCase()}`>
                                    <Postcard
                                        post={allPosts}
                                        index={allPosts.data.part}
                                        pageType="projects"
                                    />
                                </div>
                            )
                        }
                        else
                        {
                            return (
                                <div class=`posts ${allPosts.data.subproject?.replaceAll(" ", "-").toLowerCase()} hidden`>
                                    <Postcard
                                        post={allPosts}
                                        index={allPosts.data.part}
                                        pageType="projects"
                                    />
                                </div>
                            )                           
                        }
                    }
                })
			}
		</div>
	</section>
</Base>

<script type="text/javascript">

function showProject(btn)
{
    let subproject = btn.id;
    let posts = document.getElementsByClassName("posts");
    
    for (const post of posts)
    {
        if (post.classList.contains(subproject))
        {
            post.classList.remove("hidden");
        }
        else
        {
            post.classList.add("hidden");
        }
    }
}

</script>

